:root{  
    --hat-bg-color:        #282828;
    --hat-txt-color:       #eaf5ffbe;
    --hat-txt-hover-color: #0f1b27;
    --border_radius:       1vw;
    --height_hat_foot:     6vh;
    --shadow_fall:         0.5vh;
    --margins_hat_blocks:  1vw;
}

*,
*:before,
*:after{
   box-sizing: border-box; 
}

body{
    background-color: #d1f6ffd8;
    margin: 0;
    font-size: 11pt;
    font-weight: 500;
}

#link{
    text-decoration: none;
    cursor: pointer;
}

.hat,
.content_cont,
.foot{
    background-color: var(--hat-bg-color);
    color: var(--hat-txt-color);
    font-family: 'Fira Code', 'Courier New', Courier, monospace;

    margin-left:  auto;
    margin-right: auto;

    border-radius: var(--border_radius);

    width: 100%;
    max-width: 62vw;

    display: flex; 
}

/*-----Шапка-----*/
.hat{
    height: var(--height_hat_foot);
    border-radius: 0 0 var(--border_radius) var(--border_radius);

    justify-content: center;
    align-items: center;
}
.img_list{
    visibility: collapse;
    height: 0vh;
}

.left_block,
.center_block,
.right_block {
   /* background-color:#ffffffab;  Позже убрать */
    width: 30%;
    height: 100%;
}

.hat div{
    margin: 0 1vw;
    text-align: center;
}

.hat a{
    color: var(--hat-txt-color); 
    transition: linear 150ms;
}

.hat a:hover{
    color: var(--hat-txt-hover-color);
    text-shadow: 0 0 var(--shadow_fall) var(--hat-txt-color);
    font-size: 13pt;
}

/* левый блок */
.left_block{
    margin-right: var(--margins_hat_blocks);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* конец левого блока */

/* центральный блок */
.center_block{
    margin-left:  var(--margins_hat_blocks);
    margin-right: var(--margins_hat_blocks);
}

.logo_container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.img_logo{
    height: 100%;
    transition: ease-in 150ms;
}

.img_logo:hover{
    -webkit-filter: drop-shadow(0 0 var(--shadow_fall) var(--hat-txt-color));
    filter: drop-shadow(0 0 var(--shadow_fall) var(--hat-txt-color));
    transform: rotate(25deg);
}
/* конец центрального блока */

/* правый блок */
.right_block{
    margin-left: var(--margins_hat_blocks);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* конец правого блока */

/*----- конец шапки ------*/



/*----- Тело -----
 * внутри main.css / about.css / creators.css ect.
 *----- конец тела -----*/



/*----- footer -----*/
.foot{
    height: var(--height_hat_foot);
    border-radius: var(--border_radius) var(--border_radius) 0 0;
    display: flex;
    justify-content: space-between;
}

.foot div{
    margin: 0 1vw;
    text-align: center;
}

.foot > .left_block{
    width: fit-content;
}

.vk_ref{
    display: flex;
    height: 100%;
}

/*----- конец footer -----*/



/*------ Адаптация -------*/
@media screen and
  (min-width: 1006px) and
  (max-width: 1607px){    
    body{
        font-weight: 500;
    }
    
    /*-----Шапка-----*/
    .hat{
        margin: 0 auto; 
        width: 100vw;
        justify-content: space-between;
    }

    .right_block,
    .left_block{
        width: 50%;
    }

    
    /* левый блок */
    .left_block{
        margin-right: 1px;
    }
    /* конец левого блока */
    
    /* центральный блок */
    .center_block{
        margin: 0;
        max-width: fit-content;
    }
    
    .logo_container{
        height: 100%;
        display: flex;
        justify-content: center;
    }

    /* конец центрального блока */
    
    /* правый блок */
    .right_block{
        margin-left: 1px;
    }
    
    .hat div{
        margin: 0 8px;
        text-align: center;
    }
    
    /* конец правого блока */
    
    
    /*----- конец шапки ------*/
}

/* телефоны и планшеты */
@media screen and 
 (min-width: 480px) and 
 (max-width: 1005px){
    
    .hat,
    .content_cont,
    .foot{
        margin: 0;
        max-width: 100vh;
    }

    .hat{
        justify-content: start;
    }

    .hat div{
        margin: 0;
        text-align: center;
    }
/**
 * сделать анимацию и выдвижной список
 */
    .hat .center_block{
        width: fit-content;
        margin-left: auto;
    }
    .hat .left_block div a{
        visibility: collapse;
    }
    .left_block{
        margin: 0;
        width: 60px;
    } 
    .hat > .right_block{ 
        visibility: collapse;
        width: 0vw;
    }
    .hat .left_block div{
        height: 100%;
        padding: 1vw;
        display: flex;
    }
    .img_list{
        visibility: visible;
        height: 100%;
    }
    .foot{
        justify-content: flex-start;
    }
    .foot > .left_block{
        width: 100vw;
    }
    .foot > .right_block{
        width: fit-content;
    }
}

/* телефоны по-меньше */
@media screen and 
 (max-width: 479px){
    
    html{
        min-width: 300px;
    }

    .hat,
    .content_cont,
    .foot{
        margin: 0;
        max-width: 100vh;
    }

    .hat{
        justify-content: start;
    }

    .hat div{
        margin: 0;
        text-align: center;
    }
/**
 * сделать анимацию и выдвижной список
 */
    .hat .center_block{
        width: fit-content;
        margin-left: auto;
    }
    .hat .left_block div a{
        visibility: collapse;
    }
    .left_block{
        margin: 0;
        width: 60px;
    } 
    .hat > .right_block{ 
        visibility: collapse;
        width: 0vw;
    }
    .hat .left_block div{
        height: 100%;
        padding: 1vw;
        display: flex;
    }
    .img_list{
        visibility: visible;
        height: 100%;
    }
    .foot{
        justify-content: flex-start;
    }
    .foot > .left_block{
        width: 100vw;
    }
    .foot > .right_block{
        width: fit-content;
    }
}