:root{  
    --hat-bg-color:        #282828;
    --hat-txt-color:       #eaf5ffbe;
    --hat-txt-hover-color: #0f1b27;
}


.content_cont{ 
    margin: 20px auto;

    height: 100vh;

    padding: 1vh 1vw;
}
